#background {
	-fx-background-color: #333333;
}

.button {
	-fx-background-color: #555555;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}

.button:hover {
	-fx-border-color: white;
	-fx-border-radius: 3;
	-fx-cursor: hand;
}

.button:pressed {
	-fx-border-color: white;
	-fx-border-radius: 3;
	-fx-background-color: #333333;
}

.label {
	-fx-text-fill: white;
}



/* Separate colors for toolbar */
.tool-bar {
	-fx-background-color: #444444;
}

.tool-bar .button {
	-fx-background-color: #333333;
}

.tool-bar .button:pressed {
	-fx-border-color: white;
	-fx-border-radius: 3;
	-fx-background-color: #444444;
}

.tool-bar .choice-box {
	-fx-border-color: transparent;
	-fx-background-color: #333333;
}

.tool-bar .choice-box:hover {
	-fx-border-color: white;
	-fx-border-radius: 5;
	-fx-cursor: hand;
}

.tool-bar .choice-box > .label {
	-fx-text-fill: white;
}

.tool-bar .choice-box .context-menu {
	-fx-background-color: #333333;
}


/* Specialised buttons */
#back-button:hover {
	-fx-border-color: #ff9685;
	-fx-border-radius: 5;
}

#next-button:hover {
	-fx-border-color: #abb7ff;
	-fx-border-radius: 5;
}